/* ------------------
 * Global style
 * --------------- */
:root {
  --outline: 3px solid #fabb0099;
  --color-background: #f5f5f7;
  --color-text: #000000;
  --color-gray: #888888;
  --color-link: #d3b000;
  --color-link-hover: #ac8400;
  --color-pre-background: #F3F3F3;
  --color-code: #B94A48;
  --color-blockquote: #666666;
  --color-table-border: #dddddd;
  --color-table-header: #f3f3f3;
  --color-meta: #999999;
  --color-meta-hover: transparent;
  --color-header-background: #ffffff99;
  --color-header-nav-link: #3a3a3a;
  --color-header-nav-link-active: #000000;
  --color-header-menu-icon: #222222;
  --color-search-box-background: #fffffff1;
  --color-post-list-background: #ffffff;
  --color-post-list-shadow-color: #00000026;
  --color-post-list-image-background: #ededed;
  --color-footer: #999999;
  --color-comment-odd: #F6F6F3;
  --color-comment-even: #ffffff;
  --color-comment-author: #444444;
  --color-comment-author-bg: #FFF9E8;
  --color-error-page-margin: 100rem;
  --color-navigator-bg: #eeeeee;
  --color-border: #eeeeee;
  --color-article-background: #ffffff;
  font-size: min(0.45vw, 0.45vh, 1.8px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #000000;
    --color-text: #ffffff;
    --color-gray: #888888;
    --color-link: #f8ce00;
    --color-link-hover: #ffee9b;
    --color-pre-background: #2B2B2B;
    --color-code: #D9534F;
    --color-blockquote: #999999;
    --color-table-border: #444444;
    --color-table-header: #2B2B2B;
    --color-meta: #999999;
    --color-meta-hover: transparent;
    --color-header-background: #33333399;
    --color-header-nav-link: #c9c9c9;
    --color-header-nav-link-active: #ffffff;
    --color-header-menu-icon: #bbbbbb;
    --color-search-box-background: #333333f1;
    --color-post-list-background: #1f1f1f;
    --color-post-list-shadow-color: #00000026;
    --color-post-list-image-background: #444444;
    --color-footer: #999999;
    --color-comment-odd: #2B2B2B;
    --color-comment-even: #333333;
    --color-comment-author: #ffffff;
    --color-comment-author-bg: #444444;
    --color-error-page-margin: 100rem;
    --color-navigator-bg: #444444;
    --color-border: #444444;
    --color-article-background: #141414;
  }
}
/* Global styles */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: normal;
  font-size: 9rem;
  font-family: "HarmonyOS Sans SC", "HarmonyOS Sans", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, NotoSansHansRegular, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body[data-nav-menu-extended=true] {
  overflow: hidden;
}

*:focus-visible {
  outline: var(--outline);
}

a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover, a:active {
  color: var(--color-link-hover);
}

pre,
code {
  background: var(--color-pre-background);
  font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
  font-size: 0.92857em;
  padding: 8rem;
  overflow: auto;
  max-height: 400rem;
}
pre code,
code code {
  padding: 2rem 4rem;
  color: var(--color-code);
}
pre code,
code code {
  padding: 3rem;
  color: var(--color-text);
}

blockquote {
  margin: 1em 0;
  padding-left: 1.5em;
  border-left: 4rem solid var(--color-border);
  color: var(--color-blockquote);
}

table {
  border: 1rem solid var(--color-table-border);
  width: 100%;
}
table th,
table td {
  padding: 5rem 10rem;
  border: 1rem solid var(--color-border);
}
table th {
  background: var(--color-table-header);
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  padding: 5rem;
  border: 1rem solid var(--color-border);
  width: 100%;
  border-radius: 2rem;
  box-sizing: border-box;
}
input[type=text] textarea,
input[type=email] textarea,
input[type=url] textarea,
input[type=password] textarea,
textarea textarea {
  resize: vertical;
}

/* Special link style */
.post-meta a,
.post-content a,
.widget a,
.comment-content a {
  border-bottom: 1rem solid var(--color-border);
}
.post-meta a:hover,
.post-content a:hover,
.widget a:hover,
.comment-content a:hover {
  border-bottom-color: var(--color-meta-hover);
}

/* ------------------
 * Header
 * --------------- */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  max-height: 30rem;
  z-index: 10000;
  background-color: var(--color-header-background);
  backdrop-filter: blur(12rem);
  -webkit-backdrop-filter: blur(12rem);
  transition: max-height 0.4s;
  overflow: hidden;
  /* Navigation menu */
  /* Mobile menu */
  /* Search */
}
#header[data-nav-menu-extended=true] {
  max-height: 100%;
}
#header .container {
  width: calc(100vw - 40rem);
  max-width: 600rem;
  margin: 0 auto;
  height: 30rem;
  padding: 0 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#header .site-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}
#header .site-name #logo img {
  width: 20rem;
  height: 20rem;
}
#header .site-name .site-name-text {
  color: var(--color-text);
  margin-inline-start: 0.4em;
  font-size: 12rem;
  font-weight: 600;
}
#header #nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 768px) {
  #header #nav-menu {
    display: none;
  }
}
#header #nav-menu a {
  display: block;
  padding: 0 8rem;
  border-bottom: none;
  height: 20rem;
  line-height: 20rem;
  color: var(--color-header-nav-link);
  font-size: 0.88em;
  font-weight: 300;
  transition: color 0.3s;
}
#header #nav-menu a:hover,
#header #nav-menu a .current {
  color: var(--color-header-nav-link-active);
}
#header #nav-menu a:last-of-type {
  padding-right: 6rem;
}
#header #menu-toggle {
  display: none;
  position: relative;
  width: 30rem;
  height: 30rem;
  margin-right: -10rem;
  background: none;
  border: none;
  direction: ltr;
  cursor: pointer;
  /* 3 lines menu */
}
@media (max-width: 768px) {
  #header #menu-toggle {
    display: block;
  }
}
#header #menu-toggle .bar {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, 0);
  width: 30%;
  height: 0.6rem;
  background: var(--color-header-menu-icon);
  transition: all 0.3s;
}
#header #menu-toggle .bar-1 {
  top: 40%;
}
#header #menu-toggle .bar-2 {
  top: 50%;
}
#header #menu-toggle .bar-3 {
  top: 60%;
}
#header #menu-toggle[data-nav-menu-extended=true] .bar-1 {
  top: 50%;
  left: 35%;
  transform: rotate(45deg) translate(0, 0);
}
#header #menu-toggle[data-nav-menu-extended=true] .bar-2 {
  opacity: 0;
  width: 0;
}
#header #menu-toggle[data-nav-menu-extended=true] .bar-3 {
  top: 50%;
  left: 35%;
  transform: rotate(-45deg) translate(0, 0);
}
#header .extend-menu {
  width: calc(100vw - 40rem);
  max-width: 600rem;
  height: calc(100vh - 30rem);
  margin: 13rem auto 0 auto;
  overflow: auto;
  transform: translateY(-5%) scale(0.995, 0.94);
  filter: blur(4px);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s, filter 0.2s, visibility 0.2s;
}
#header .extend-menu[data-nav-menu-extended=true] {
  transform: none;
  filter: none;
  visibility: visible;
  opacity: 1;
  transition: transform 0.4s 0.18s, opacity 0.4s 0.18s, filter 0.4s 0.18s, visibility 0.4s 0.18s;
}
#header .extend-menu #extend-nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 768px) {
  #header .extend-menu #extend-nav-menu {
    display: none;
  }
}
#header .extend-menu #extend-nav-menu a {
  display: block;
  padding: 8rem 0;
  width: 100%;
  color: var(--color-header-nav-link);
  font-size: 1.6em;
  font-weight: 600;
  outline-offset: -1rem;
}
#header .extend-menu #extend-nav-menu a:hover,
#header .extend-menu #extend-nav-menu a .current {
  color: var(--color-header-nav-link-active);
}
#header #search {
  position: relative;
  margin-top: 15rem;
}
#header #search input {
  width: 100%;
  color: var(--color-text);
  background: var(--color-search-box-background);
  padding: 7rem 30rem 7rem 7rem;
  border-radius: 4rem;
  border: none;
  font-size: 1.01em;
  outline-offset: -1rem;
}
#header #search button {
  position: absolute;
  right: 0rem;
  top: 2rem;
  border: none;
  border-radius: 3rem;
  outline-offset: -1rem;
  padding: 0;
  width: 23rem;
  height: 23rem;
  cursor: pointer;
  background: none;
}
#header #search button svg {
  width: 12rem;
  height: 12rem;
  fill: var(--color-text);
  opacity: 0.7;
}

/* ------------------
 * Main
 * --------------- */
#body .container {
  margin-top: 30rem;
}

.post-list {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  gap: 16rem;
  margin: 0 20rem;
  padding-top: 20rem;
}
.post-list .item {
  width: 100%;
  background: var(--color-post-list-background);
  border-radius: 2.6vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  transition: box-shadow 0.8s, transform 0.8s;
  opacity: 0;
}
.post-list .item:hover, .post-list .item:focus-visible {
  box-shadow: 0 0 14rem var(--color-post-list-shadow-color);
  transform: translateY(-2rem);
}
.post-list .item .image {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center;
  background-color: var(--color-post-list-image-background);
  flex-grow: 0;
  flex-shrink: 0;
}
.post-list .item .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding: 8rem 10rem;
  line-height: 1.3;
}
.post-list .item .info .post-title {
  margin: 0;
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.2em;
}
.post-list .item .info time {
  font-size: 0.9em;
  color: var(--color-gray);
  margin-top: 8rem;
  font-weight: 400;
}
@media (min-width: 760px) {
  .post-list {
    grid-template-columns: repeat(2, 180rem);
  }
  .post-list .item {
    border-radius: 13rem;
  }
  .post-list .item:first-of-type {
    grid-column-start: span 2;
  }
  .post-list .item:first-of-type .info {
    padding: 16rem 10rem;
  }
  .post-list .item:first-of-type .info .post-title {
    font-size: 1.6em;
  }
}
@media (min-width: 1200px) {
  .post-list {
    grid-template-columns: repeat(6, 90rem);
  }
  .post-list .item {
    grid-column-start: span 2;
  }
  .post-list .item:first-of-type {
    grid-column-start: span 6;
    flex-direction: row;
  }
  .post-list .item:first-of-type .image {
    height: 204rem;
    width: 0;
    padding-bottom: 0;
    width: 362.6666666667rem;
  }
  .post-list .item:first-of-type .info {
    padding: 30rem 20rem;
  }
  .post-list .item:first-of-type .info .post-title {
    font-size: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .post-list .item:nth-of-type(2),
  .post-list .item:nth-of-type(3),
  .post-list .item:nth-of-type(4),
  .post-list .item:nth-of-type(5) {
    grid-column-start: span 3;
  }
  .post-list .item:nth-of-type(2) .info,
  .post-list .item:nth-of-type(3) .info,
  .post-list .item:nth-of-type(4) .info,
  .post-list .item:nth-of-type(5) .info {
    padding: 15rem 10rem;
  }
  .post-list .item:nth-of-type(2) .info .post-title,
  .post-list .item:nth-of-type(3) .info .post-title,
  .post-list .item:nth-of-type(4) .info .post-title,
  .post-list .item:nth-of-type(5) .info .post-title {
    font-size: 1.6em;
  }
}
.post-list .not-found {
  grid-column: 1/-1;
  width: 100%;
}

.post-page {
  background-color: var(--color-article-background);
}
.post-page .post {
  max-width: 600rem;
  margin: 0 auto;
  padding: 20rem 5vw 30rem 5vw;
  border-radius: 20rem;
}
.post-page .post .post-title {
  width: 100%;
  font-size: 1.8em;
  margin: 0 auto;
  padding: 10rem 0 4rem 0;
  text-align: center;
  line-height: 1.4;
}
@media (min-width: 700px) {
  .post-page .post .post-title {
    width: 80%;
  }
}
.post-page .post .post-title a {
  color: var(--color-text);
}
.post-page .post .post-meta {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-meta);
  font-size: 1.01em;
  margin: 6rem 0 18rem 0;
}
.post-page .post .post-meta li::marker {
  content: "";
}
.post-page .post .post-meta li:not(:last-child) {
  margin-right: 10rem;
}
.post-page .post .post-meta a {
  color: var(--color-meta);
}
.post-page .post .post-content {
  font-size: 108%;
  line-height: 1.66;
}
.post-page .post .post-content img {
  display: inline-block;
  width: 100vw;
  max-width: 100vw;
  margin: 10rem 0 10rem calc(50% - 50vw);
}
@media (min-width: 700px) {
  .post-page .post .post-content p {
    max-width: 80%;
    margin: 0.5em auto;
  }
  .post-page .post .post-content img {
    width: 110%;
    max-width: 110%;
    margin: 10rem auto 10rem -5%;
    border-radius: min(4vw, 16rem);
  }
}
.post-page .post .tags {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 700px) {
  .post-page .post .tags {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .post-page {
    background: none;
    padding: 10rem calc(5vw - 7rem);
  }
  .post-page .post {
    background-color: var(--color-article-background);
    padding: 10rem 8rem 20rem 8rem;
  }
}

.archive-title {
  width: -moz-max-content;
  width: max-content;
  margin: 0;
  padding: 8rem 0;
  color: var(--color-text);
  font-size: 1.7em;
}

.protected .text {
  width: 50%;
}

/* Page nav */
.page-navigator {
  list-style: none;
  margin: 25rem 0;
  padding: 0;
  text-align: center;
}
.page-navigator li {
  display: inline-block;
  margin: 0 4rem;
}
.page-navigator li a {
  display: inline-block;
  padding: 0 10rem;
  height: 30rem;
  line-height: 30rem;
  border-radius: 7rem;
}
.page-navigator li a:hover {
  background: var(--color-navigator-bg);
  text-decoration: none;
}
.page-navigator .current a {
  color: var(--color-text);
  background: var(--color-navigator-bg);
}

/* ------------------
 * Comment list
 * --------------- */
#comments {
  padding-top: 15rem;
}
#comments .comment-list,
#comments ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#comments li {
  padding: 14rem;
  margin-top: 10rem;
  border: 1rem solid var(--color-border);
}
#comments li.comment-level-odd {
  background: var(--color-comment-odd);
}
#comments li.comment-level-even {
  background: var(--color-comment-even);
}
#comments li.comment-by-author {
  background: var(--color-comment-author-bg);
}
#comments li .comment-reply {
  text-align: right;
  font-size: 0.92857em;
}
#comments .comment-meta a {
  color: var(--color-meta);
  font-size: 0.92857em;
}
#comments .comment-author {
  display: block;
  margin-bottom: 3rem;
  color: var(--color-text);
}
#comments .comment-author .avatar {
  float: left;
  margin-right: 10rem;
}
#comments .comment-author cite {
  font-weight: bold;
  font-style: normal;
}

/* Comment reply */
.comment-list .respond {
  margin-top: 15rem;
  border-top: 1rem solid var(--color-border);
}
.comment-list .respond .cancel-comment-reply {
  float: right;
  margin-top: 15rem;
  font-size: 0.92857em;
}

#comment-form label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}
#comment-form .required:after {
  content: " *";
  color: #C00;
}

/* ------------------
 * secondary
 * --------------- */
#secondary {
  padding-top: 15rem;
  word-wrap: break-word;
}

.widget {
  max-width: 620rem;
  margin: auto;
  padding: 20rem 20rem;
}
.widget .widget-title {
  padding: 0;
}
.widget .widget-list {
  list-style: none;
  padding: 0;
}
.widget .widget-list li {
  margin: 5rem 0;
  line-height: 1.6;
}
.widget .widget-list li ul {
  margin-left: 15rem;
}
.widget .widget-post-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin: 0;
  padding: 0;
}
.widget .widget-post-list .post {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0;
  padding: 10rem 0;
  overflow: hidden;
  transition: box-shadow 0.8s, transform 0.8s;
  border-bottom: 1rem solid var(--color-border);
}
.widget .widget-post-list .post .image {
  width: 60rem;
  height: 33.75rem;
  margin-top: 0rem;
  background-size: cover;
  background-position: center;
  background-color: var(--color-post-list-image-background);
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 3rem;
}
.widget .widget-post-list .post .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding: 0 10rem;
  line-height: 1.3;
}
.widget .widget-post-list .post .info .post-title {
  margin: 0;
  color: var(--color-text);
  font-weight: 600;
  font-size: 0.99em;
}
.widget .widget-post-list .post .info time {
  font-size: 0.69em;
  color: var(--color-gray);
  margin-top: 5rem;
  font-weight: 400;
}
@media (min-width: 900px) {
  .widget .widget-post-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------------------
 * Footer 
 * --------------- */
#footer {
  padding: 3em 0;
  line-height: 1.5;
  text-align: center;
  color: var(--color-footer);
}

/* -----------------
 * Error page
 * -------------- */
.error-page {
  margin-top: var(--color-error-page-margin);
  margin-bottom: var(--color-error-page-margin);
}

/* -----------------
 * Content format
 *--------------- */
.post-content,
.comment-content {
  line-height: 1.5;
  word-wrap: break-word;
}
.post-content h2,
.comment-content h2 {
  font-size: 1.28571em;
}
.post-content img,
.post-content video,
.comment-content img,
.comment-content video {
  max-width: 100%;
}
.post-content a img,
.comment-content a img {
  background: #FFF;
  position: relative;
  bottom: -4rem;
}
.post-content hr,
.comment-content hr {
  margin: 2em auto;
  width: 100rem;
  border: 1rem solid #E9E9E9;
  border-width: 2rem 0 0 0;
}

/* -----------------
 * Misc
 *--------------- */
.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}
.alignright img.alignleft {
  margin: 0 15rem 0 0;
}
.alignright img.alignright {
  margin: 0 0 0 15rem;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/
.sr-only {
  border: 0;
  height: 1rem;
  margin: -1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1rem;
}
.sr-only.focusable:active, .sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/
.invisible {
  visibility: hidden;
}

.come-out-animation {
  opacity: 0;
}
.come-out-animation[data-come-out-animation] {
  opacity: 1;
  animation: item-come-out 0.9s;
}

@keyframes item-come-out {
  0% {
    opacity: 0;
    transform: translateY(34rem) scale(0.95);
    filter: blur(3rem);
    pointer-events: none;
  }
  100% {
    opacity: 1;
    transform: none;
    filter: none;
    pointer-events: none;
  }
}/*# sourceMappingURL=style.css.map */